* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#whatsappButtom {
  background: #0dc152;
  width: 50px;
  position: fixed;
  bottom: 50px;
  left: 20px;
  border-radius: 50%;
  padding: 8px;
  z-index: 10001;
  box-shadow: 0 0 0 rgb(37, 211, 102);
  animation: pulse 2s infinite;
}

/*
  color: #412a9c,
  color: #1b66ff,
  color: #ffc300,
  color: #d2ff1f,
  color: #f7f7f7
*/

/* 
  font-family: 'Anton', sans-serif;
  font-family: 'Signika', sans-serif;
*/

/* Componentes do Audio.jsx */
#radio {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  margin-bottom:5px;
  background: linear-gradient(-45deg, #412a9c, #1b66ff, #f7f7f7, #ffc300, #d2ff1f);
	background-size: 500%;
	animation: gradient 10s ease infinite;
  height: 11vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.line {
  width: 14vh;
  color: red;
  height: 14vh;
  overflow: hidden;
  padding: 0;
  margin: 5vh;
  align-items: center;
}

.flipX {
  font-size: 4.5vh;
  margin-top: 10px;
  animation: 5s anim-flipX ease infinite;
}

@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    /* animate nothing to pause animation at the end */
    opacity: 1;
    transform: rotateX(720deg);
  }
}

#textSup {
  color: #000000;
  font-size: 2.5vh;
  font-weight: 900;
}

#textInf {
  color: #F7F7F7;
  font-size: 2.5vh;
  font-weight: 600;
}

#player {
  width: 35vh;
  height: 6vh;
  border: none;
  border-radius: 10px;
  margin-right: 5vh;
}

/* Componentes do Header.jsx */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 7vh;
  background-color: #002d86;
  -webkit-box-shadow: 1px 5px 28px -3px rgba(255,195,0,0.63); 
  box-shadow: 1px 5px 28px -3px rgba(255,195,0,0.63);
}

#logoMain {
  z-index: 1000;
  margin-left: 3vh;
  width: 20vh;
}

#hamburguer {
  display: none;
  visibility: hidden;
}

#menu {
  display: flex;
  gap: 5px;
  flex-wrap: nowrap;
}

#menu > h3 {
  padding: 1vh;
  border-radius: 20px;
  color: #f7f7f7;
  font-family: 'Signika', sans-serif;
  /*Fonte: https://html-css-js.com/css/generator/box-shadow/*/
  -webkit-box-shadow: inset 2px 5px 24px -4px #F7F7F7; 
  box-shadow: inset 2px 5px 24px -4px #F7F7F7;
  text-align: center;
  font-size: 2.5vh;
  width: auto;
}

#menu > h3:hover{
  background-color: #f7f7f7;
  color: #1b66ff;
  cursor: pointer;
  -webkit-box-shadow: inset 2px 5px 24px -4px #1b66ff; 
  box-shadow: inset 2px 5px 24px -4px #1b66ff;
}

/* Componente SocialMedia.jsx */
.media {
  margin: 5px;
  width: 30px;
  text-align: center;
}

#div-anunciantes {
  display: flex;
  gap: 3vh;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 3vh;
}

#div-anunciantes img {
  width: 20vmax;
  height: 15vmax;
  border-radius: 2vh;
}

/* Componente Aplicativo.jsx */
#bannerAplicativo {
  width: 98.9vw;
  height: 18vw;
  align-items: center;
}

#logoGooglePlay {
  margin-top: -30vh ;
  margin-left: 55vw;
  width: 20vw;
}

/* Componente Footer.jsx */
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

/* ESTILOS DOS COMPONENTES POR ROTAS */

/* Componentes do Home.jsx */
#imagem #video {
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  align-items: center;
}

/* Componente Gallery.jsx */
.mainBanner {
  margin-top: 10vh;
  width: 100%;
  height: 20%;
}

.gallery #image {
  width: 97vw;
  margin-top: 5vh;
  font-size: 1rem;
  flex-direction: column;
  display: flex;
  color: #ffc300;
  align-items: center;
}

#album img {
  margin: 2px;
  margin-left: 2vw;
  width: 46vw;
  border-radius: 10px;
  flex-wrap: wrap;
}

.gallery #videos {
  font-size: 1rem;
  flex-direction: column;
  display: flex;
  text-align: center;
  margin: 20px;
  color: #ffc300;
}

#video iframe {
  margin: 2px;
  width: 340px;
  height: 190px;
  border-radius: 10px;
  flex-wrap: wrap;
}

#video iframe:hover {
  width: 30vw;
  height: 18vw;
  transition: 2s;
}

/* Componente Sobre.jsx, ProgramingGrid.jsx, Contact.jsx */
#about #programmingGrid #contact {
  display: flex;
  margin-top: 2vh;
  height: auto;
  width: 98vw;
  flex-direction: column;
}

#about h1, #programmingGrid h1, #contact h1 {
  margin-top: 3vh;
  margin-left: 3vw;
  font-size: 3.5vw;
  color: #ffc300;
}

#about p, #programmingGrid p, #contact h3  {
  margin-left: 3vw;
  margin-bottom: 1vw;
  font-size: 3vh;
  color: #1b66ff;
  width: 90%;
  font-size: 1.5vw;
}

#contact a {
  text-decoration: none;
  color:#ffc300;
  text-shadow: 2px 1px 1px #1B66FF;
}

@media only screen and (max-width: 999px) {  
  #menu {
    display: none;
    visibility: hidden;
  }

  #menu.active {
    display: block;
    visibility: visible;
    position: absolute;
    top: 18.6vh;
    right: 0;
    width: 100vw;
    height: 40vh;
    background-color: #002d86;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    padding: 10px;
  }

  #menu.active h3 {
    margin: 2vh;
  }

  #menu.disabled {
    display: none;
    visibility: hidden;
  }

  #hamburguer {
    display: block;
    visibility: visible;
  }

  .media {
    padding: 2px;
    width: 4vh;
  }

  #logoMain {
    margin-left: 1.5vh;
    width: 17vh;
  }

  #footer {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 600px) {
  .flipX {
    padding: -20px;
    margin: 7px 25px;
  }

  #textSup, #textInf {
    font-size: 0.5rem;
    margin-left: -8vh;
  }

  #player {
    width: 20vh;
    height: 5vh;
    border: none;
    border-radius: 10px;
  }

  #logoMain {
    width: 12vmax;
    margin-left: -1vw;
  }

  #image {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .media {
    margin: -0.5px;
    width: 20px;
  }

  .gallery #videos {
    font-size: 1rem;
    flex-direction: column;
    display: flex;
    text-align: center;
    margin: 10px;
    color: #ffc300;
  }
  
  #video iframe {
    margin: 2px;
    width: 30vh;
    height: 20vh;
  }
  
  #video iframe:hover {
    max-width: 380px;
    max-height: 240px;
    transition: 3s;
  }
}

@media only screen and (max-width: 400px) {
  .flipX {
    font-size: 4vh;
    margin-top: 20px;
  }

  #textSup, #textInf {
    display: none;
    visibility: hidden;
  }

  #player {
    width: 18vh;
    height: 5vh;
    border: none;
    border-radius: 10px;
    margin-right: 5px;
  }

  #logoMain {
    width: 12vmax;
    margin-left: -1vw;
  }

  #image {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .media {
    margin: -0.5px;
    width: 20px;
  }

  .gallery #videos {
    font-size: 1rem;
    flex-direction: column;
    display: flex;
    text-align: center;
    margin: 10px;
    color: #ffc300;
  }
  
  #video iframe {
    margin: 2px;
    width: 30vh;
    height: 20vh;
  }
  
  #video iframe:hover {
    max-width: 100%;
    max-height: 100%;
    transition: 3s;
  }
}
