* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#whatsappButtom {
  background: #0dc152;
  width: 50px;
  position: fixed;
  bottom: 50px;
  left: 20px;
  border-radius: 50%;
  padding: 8px;
  z-index: 10001;
  box-shadow: 0 0 0 rgb(37, 211, 102);
  animation: pulse 2s infinite;
}

/*
  color: #412a9c,
  color: #1b66ff,
  color: #ffc300,
  color: #d2ff1f,
  color: #f7f7f7
*/

/* 
  font-family: 'Anton', sans-serif;
  font-family: 'Signika', sans-serif;
*/

/* Componentes do Audio.jsx */
#radio {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  margin-bottom:5px;
  background: linear-gradient(-45deg, #412a9c, #1b66ff, #f7f7f7, #ffc300, #d2ff1f);
	background-size: 500%;
	animation: gradient 10s ease infinite;
  height: 11vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.line {
  width: 14vh;
  color: red;
  height: 14vh;
  overflow: hidden;
  padding: 0;
  margin: 5vh;
  align-items: center;
}

.flipX {
  font-size: 4.5vh;
  margin-left: -7.5px;
  margin-top: 5px;
  padding-left: 3vw;
  padding-right: 3vw;
  animation: 5s anim-flipX ease infinite;
}

@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    /* animate nothing to pause animation at the end */
    opacity: 1;
    transform: rotateX(720deg);
  }
}

#textSup {
  color: #000000;
  font-size: 2.5vh;
  font-weight: 900;
}

#textInf {
  color: #F7F7F7;
  font-size: 2.5vh;
  font-weight: 600;
}

#player {
  width: 20%;
  height: 50%;
  border: none;
  border-radius: 10px;
}

/* Componentes do Header.jsx */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 50px;
  background-color: #002d86;
  -webkit-box-shadow: 1px 5px 28px -3px rgba(255,195,0,0.63); 
  box-shadow: 1px 5px 28px -3px rgba(255,195,0,0.63);
}

#logoMain {
  z-index: 1000;
  margin-left: 3vh;
  width: 25vh;
}

#menu {
  display: flex;
  gap: 5px;
  flex-wrap: nowrap;
  padding: 2px;
}

#menu > h3 {
  padding: 2vh;
  border-radius: 20px;
  color: #f7f7f7;
  font-family: 'Signika', sans-serif;
  /*Fonte: https://html-css-js.com/css/generator/box-shadow/*/
  -webkit-box-shadow: inset 2px 5px 24px -4px #F7F7F7; 
  box-shadow: inset 2px 5px 24px -4px #F7F7F7;
  text-align: center;
  font-size: 2.5vh;
  width: auto;
}

#menu > h3:hover {
  background-color: #f7f7f7;
  color: #1b66ff;
  cursor: pointer;
  -webkit-box-shadow: inset 2px 5px 24px -4px #1b66ff; 
  box-shadow: inset 2px 5px 24px -4px #1b66ff;
}

/* Componente SocialMedia.jsx */
.media {
  padding: 3px;
  width: 2rem;
}

/* Componente Aplicativo.jsx */
#bannerAplicativo {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  height: 20vw;
}

#logoGooglePlay {
  margin-top: -30% ;
  margin-left: 55%;
  width: 20%;
}

/* Componente Footer.jsx */
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

/* ESTILOS DOS COMPONENTES POR ROTAS */

/* Componentes do Home.jsx */
#imagem #video {
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  align-items: center;
}

/* Componente Gallery.jsx */
.mainBanner {
  margin-top: 10vh;
  width: 100%;
  height: 20%;
}

.gallery #image {
  margin-top: 5vh;
  width: 105%;
  font-size: 1rem;
  flex-direction: column;
  display: flex;
  text-align: center;
  color: #ffc300;
}

#album img {
  margin: 2px;
  width: 80vh;
  border-radius: 10px;
  flex-wrap: wrap;
}

.gallery #videos {
  font-size: 1rem;
  flex-direction: column;
  display: flex;
  text-align: center;
  margin: 20px;
  color: #ffc300;
}

#video iframe {
  margin: 2px;
  width: 340px;
  height: 190px;
  border-radius: 10px;
  flex-wrap: wrap;
}

#video iframe:hover {
  width: 460px;
  height: 260px;
  transition: 3s;
}

/* Componente Sobre.jsx */
#about {
  margin: 30px;
  height: auto;
  width: 90%;
  align-items: center;
}

#about h1 {
  font-size: 3vw;
  color: #ffc300;
}

#about p {
  font-size: 3vh;
  color: #1b66ff;
}

/* Componente ProgramingGrid.jsx */
#programmingGrid {
  margin: 30px;
  height: auto;
  width: 90%;
  align-items: center;
}

#programmingGrid h1 {
  color: #ffc300;
  font-size: 3vw;
}

#programmingGrid p {
  color: #1b66ff;
  font-size: 3vh;
}

/* Componente Contact.jsx */
#contact{
  margin: 30px;
  height: auto;
  width: 90%;
  align-items: center;
}

#contact h1 {
  color: #ffc300;
  font-size: 3vw;
}

#contact h3 {
  color: #1b66ff;
  margin: 15px;
  font-size: 2vw;
}

#contact a {
  text-decoration: none;
  color:#ffc300;
  text-shadow: 2px 1px 1px #1B66FF;
}

@media only screen and (max-width: 640px) {}
